{% extends "network/layout.html" %}

{% block body %}

    <h2>Following</h2>

    <div id="contenido_post" class="col-12">
        {% for i in post_page %}
          <div id="post_card" class="col-10">
              <p><a href="{% url 'profile' user_id=i.user.id %}">@{{ i.user }}</a></p>
              <p id="content_{{ i.id }}">{{ i.content }}</p>
              <span>{{ i.date }}</span>
              {% if user.is_authenticated %}
                  {% if user == i.user %}
                      <div>
                          <button data-toggle="modal" data-target="#modal_edit_post_{{ i.id }}">Edit</button>
                      </div>
                        <div class="modal fade" id="modal_edit_post_{{ i.id }}" tabindex="-1" aria-labelledby="#modal_edit_post_{{ i.id }}_label" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Content</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <textarea id="textarea_{{ i.id }}" class="form-control" name="content"> {{ i.content }}</textarea>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="saveChanges({{ i.id }})">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                  {% else %}
                    {% if i.id in youLiked %}
                      <button class="btn btn-info fa fa-thumbs-down" onclick="Like({{ i.id }}, {{ youLiked }})" id="{{i.id}}">Unlike</button>
                    {% else %}
                      <button class="btn btn-info fa fa-thumbs-up" onclick="Like({{ i.id }}, {{ youLiked }})" id="{{i.id}}">Like</button>
                    {% endif %}
                  {% endif %}
              {% endif %}
        </div>
      {% endfor %}
      </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if post_page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ post_page.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if post_page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ post_page.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
      </nav>

{% endblock %}